<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nulldivision.ghibli.wallpaper</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/nulldivision/Projects/pic-scrape/rotate_wallpaper.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>86400</integer>
    <key>StandardOutPath</key>
    <string>/tmp/ghibli_wallpaper.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/ghibli_wallpaper.error.log</string>
</dict>
</plist>
